<p>Doctor Name: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor)%></p>
<p>Appointment's Patient: <%= link_to @appointment.patient.name, patient_path(@appointment.patient)%>
<p>Time of Appointment: <%= link_to @appointment.appointment_datetime.strftime("%B %d, %Y at %k:%M"), appointment_path(@appointment)%>
